* {
  margin: 0;
  padding: 0;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 2px solid black;
  height: 1000px;
}

.gallery-img {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
}

.gallery-img img {
  width: 300px;
  height: 350px;
  padding: 20px;
  cursor: pointer;
}

.gallery-img span {
  font-family: "Open sans", sans-serif;
  width: 250px;

  height: 400px;
  text-align: center;
  margin-left: 40px;
  padding-bottom: 4px;
  color: rgb(0, 0, 0);
  font-family: "Open sans";
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0;
}

.btn-count {
  margin-top: 10px;
}
.gallery-img button {
  margin-top: 10px;
  margin-top: 0px;
  width: 150px;
  padding: 5px;
  text-align: center;
  margin-left: 70px;
}

/* .gallery-item .gallery-img:first-of-type img {
  margin-top: -30px;
} */
